@import '../../assets/styles/variables';

.btn {
    margin-left: 12px;
}

.listItems {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 12px;
    padding: 5px;
}

.listItems:hover {
    background-color: $mainColor;
    border-radius: 5px;
}

.close {
    color: $doneTasksColor;
    text-decoration: line-through;
}
