.btn {
    margin-left: 12px;
}

.listItems {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 12px;
    padding: 5px;
}

.listItems:hover {
    background-color: lightblue;
    border-radius: 5px;
}

.close {
    color: grey;
    text-decoration: line-through;
}
