@import '../../assets/styles/variables';

.root {
    height: 80px;
    font-size: 24px;
    color: $headerTextColor;
    background: $mainColor;
    display: flex;
    align-items: center;
    justify-content: center;
}
