@import '../../../assets/styles/variables';

.listItem {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 12px;
    padding: 5px;

    &:hover {
        background-color: $mainColor;
        border-radius: 5px;
    }
}

.close {
    color: $doneTasksColor;
    text-decoration: line-through;
}
